<h2>My Heroes</h2>
<ul class="heroes">
  <!-- *ngFor iterates thru a list -->
  <!-- [class.selected] is ng class binding. Adds the selected style from css if 
    hero === selectedHero -->
  <!-- Note the example of event-binding syntax - when click, execute onSelect(hero) 
    which lives in component.ts -->
  <li *ngFor="let hero of heroes" 
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

